body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.calendar-container {
  background-color: whitesmoke;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 100%;
  max-width: 600px;
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.calendar-header button {
  background-color: #4caf50;
  border: none;
  color: whitesmoke;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.calendar-header button:hover {
  background-color: #45a049;
}

.calendar {
  width: 100%;
  /* Łączy granice (borders) sąsiednich komórek w jedną linię, zamiast zostawiać je osobno. */
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
  cursor: pointer;
}

th {
  background-color: #4caf50;
  color: whitesmoke;
}

td:hover {
  background-color: #f1f1f1;
}

.modal {
  display: none;
  position: fixed;
  z-index: 99;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}
.edit-modal {
  display: none;
  position: fixed;
  z-index: 99;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}
.modal-content {
  background-color: whitesmoke;
  margin: 15px auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 400px;
  border-radius: 10px;
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.red {
  background-color: red;
}
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

form button {
  background-color: #4caf50;
  color: whitesmoke;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  margin: auto;
  width: 50%;
}

form button:hover {
  background-color: #45a049;
}
.event {
  color: #150a62;
}
.delete-event {
  color: #888;
  margin-left: 10px;
  cursor: pointer;
}

.delete-event:hover {
  color: darkred;
}
