body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
  display: block;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
}

.game-container {
  width: 400px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h1 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.question {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #555;
}

input[type="number"] {
  width: calc(100% - 20px); /* np. zostawia 20px wolnego miejsca */
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
}

.btn {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #28a745;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #218838;
}

.btn:active {
  background-color: #1e7e34;
}

.feedback {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
}

.score {
  margin-top: 20px;
  font-size: 20px;
  color: #333;
}

header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 50px;
  background-color: #95e2f0;
}

.back-btn {
  border-radius: 5px;
  background-color: rgb(69, 69, 128);
  transition: 0.3s ease;
  padding: 5px 15px;
}

.back-btn:hover {
  background-color: rgb(6, 6, 121);
}

.back-btn a {
  text-decoration: none;
  color: whitesmoke;
}
