body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #333;
}
.game-container {
  margin-top: 30vh;
  text-align: center;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.action {
  color: blue;
  font-size: 24px;
}
h1 {
  margin-bottom: 20px;
}
.choices {
  margin-bottom: 20px;
}

.choice {
  font-size: 20px;
  font-weight: bold;
  padding: 10px 20px;
  margin: 20px 10px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.choice:hover {
  background-color: #0056b3;
}
.reset-btns {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 250px;
  margin: 0 auto;
}
.reset-btn {
  font-size: 20px;
  font-weight: bold;
  padding: 10px 20px;
  margin: 0 10px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.reset-btn:hover {
  background-color: #0056b3;
}
.change-btn {
  font-size: 20px;
  font-weight: bold;
  padding: 10px 20px;
  margin: 0 10px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.change-btn:hover {
  background-color: #0056b3;
}

.result {
  margin: 20px 0;
}

.result-message {
  font-size: 24px;
  margin-bottom: 40px;
}

.score {
  margin-block: 50px;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.score-number {
  font-size: 28px;
  font-weight: 900;
  margin-left: 10px;
  margin-right: 30px;
}
.computer-turn {
  margin-top: 40px;
}

.drawing {
  width: 150px;
  display: none;
  font-size: 20px;
  font-style: italic;
  padding: 20px 20px;
  margin: 20px 10px;
  border-radius: 5px;
  cursor: wait;
}

.drawed {
  width: 150px;
  font-size: 20px;
  font-weight: bold;
  padding: 20px 20px;
  margin: 20px 10px;
  border: none;
  color: white;
  border-radius: 5px;
  background-color: white;
}

.drawed.green {
  background-color: green;
  color: white;
}

.drawed.red {
  background-color: red;
  color: white;
}

.drawed.blue {
  background-color: blue;
  color: white;
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(-10deg);
  }
  75% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.tabs {
  margin-top: 30px;
  text-decoration: none;
  color: #333;
}

.btn {
  border: 1px solid #333;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: color, background-color 0.3s;
}

.btn:hover {
  background-color: #333;
  color: white;
}

.shake {
  animation: shake 1.5s;
}

.players-container {
  margin-top: 15vh;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.players-container input {
  padding: 10px;
  margin-bottom: 20px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  border: 1px solid #777;
  width: 100%;
}
.play-btn {
  padding: 20px;
  background-color: #007bff;
  color: white;
  transition: background-color 0.3s;
}

.play-btn:hover {
  background-color: #0056b3;
}

.blue {
  color: blue;
}

.green {
  color: green;
}

.hidden {
  display: none;
}
header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 50px;
  background-color: #95e2f0;
}

.back-btn {
  border-radius: 5px;
  background-color: rgb(69, 69, 128);
  transition: 0.3s ease;
  padding: 5px 15px;
}

.back-btn:hover {
  background-color: rgb(6, 6, 121);
}

header a {
  text-decoration: none;
  color: whitesmoke;
}
