body,
h1,
p {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
body {
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#loader {
  margin-top: 50px;
  text-align: center;
}

#progress-bar {
  width: 300px;
  background-color: #ddd;
  border-radius: 10px;
  overflow: hidden;
  margin: 0 auto;
}

#progress {
  height: 30px;
  background-color: #4caf50;
  width: 0;
  border-radius: 10px;
  transition: width 0.3s ease;
}

#progress-text {
  margin-top: 10px;
  color: #333;
}

#content {
  text-align: center;
  margin-top: 50px;
}

#content p {
  margin-top: 10px;
}
header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 50px;
  background-color: #95e2f0;
}

.back-btn {
  border-radius: 5px;
  background-color: rgb(69, 69, 128);
  transition: 0.3s ease;
  padding: 5px 15px;
}

.back-btn:hover {
  background-color: rgb(6, 6, 121);
}

.back-btn a {
  text-decoration: none;
  color: whitesmoke;
}
