body {
  font-family: "Arial", sans-serif;
  background: #f4f4f4;
  color: #333;
  margin: 0;
  padding: 20px;
  text-align: center;
}

.container {
  max-width: 600px;
  margin: auto;
  background: #fff;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
input {
  width: 90%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
}
.buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}
button {
  padding: 10px 20px;
  background-color: #5cb85c;
  color: whitesmoke;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 10px;
}

.btn-red {
  background-color: red;
}
ul {
  list-style-type: none;
  padding: 0;
}

li {
  background: #eee;
  padding-top: 5px;
  padding: 10px;
  cursor: pointer;
}

li.completed {
  text-decoration: line-through;
  color: #888;
}

#formMessage {
  color: red;
}
